{% extends 'base.html' %}

{% block content %}
    <div class="login-container settings-container ">
        <h1 class="form-title">Add Post</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}<br>
                {% for error in form.title.errors %}
                <span class="required-field">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body(cols=100, rows=20) }}<br>
                {% for error in form.body.errors %}
                <span class="required-field">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
