{% extends "base.html" %}

{% block content%}
    <div class="comments-container">
        <div class="title">
            <h1>{{ post.title.title() }} Comments</h1>
            <a class="add-button comments-btn" href="{{ url_for("main.add_comment", post=post.id) }}">Add Comment</a>
        </div>
        <div class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <div class="post post-margin">
                        <h1>{{ comment.body }}</h1>
                        <h2>{{ post.author.username.title() }}</h2>
                    </div>
                {% endfor %}
            {% else %}
                <h4>There are no comments for this post.</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
