{% extends "base.html" %}

{% block content %}
    {# hero  #}
    <div class="hero">
        <div class="hero-text">
            <h1>Share it</h1>
            <p>A web app that allows you to stave away from burnout by allowing to work in a paced manner through the use of the pomodoro technique. </p>
            {% if current_user.is_anonymous %}
            <a class="call-to-action" href="{{ url_for('auth.login') }}">Get Started</a>
            {% else %}
            <a class="call-to-action" href="{{ url_for('main.settings') }}">Get Started</a>
            {% endif %}
{% endblock %}
